<div id="<%= dom_id error %>">
  <p>
    <strong>Error Type:</strong>
    <%= error.error_type %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= error.severity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= error.description %>
  </p>

</div>
